# build-push.yaml
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: build-push
spec:
  workspaces:
    - name: godo-repo
      mountPath: /workspace/repo
  resources:
    inputs: # 定义输入资源
    - name: repo  # 源代码仓库
      type: git
  params:
  - name: admin-api-image
    description: Reference of the image docker will produce.
  - name: admin-rpc-image
    description: Reference of the image docker will produce.
  - name: usercenter-api-image
    description: Reference of the image docker will produce.
  - name: usercenter-rpc-image
    description: Reference of the image docker will produce.
  - name: order-api-image
    description: Reference of the image docker will produce.
  - name: order-rpc-image
    description: Reference of the image docker will produce.
  - name: travel-api-image
    description: Reference of the image docker will produce.
  - name: travel-rpc-image
    description: Reference of the image docker will produce.
  - name: payment-api-image
    description: Reference of the image docker will produce.
  - name: payment-rpc-image
    description: Reference of the image docker will produce.
  - name: mqjob-rpc-image
    description: Reference of the image docker will produce.
  - name: mqscheduler-rpc-image
    description: Reference of the image docker will produce.
  - name: builder_image
    description: The location of the docker builder image.
    default: docker:stable
  - name: admin-api-dockerfile
    description: Path to the Dockerfile to build.
    default: $(resources.inputs.repo.path)/go-travel/deploy/docker/v1/Dockerfile_admin_api
  - name: admin-rpc-dockerfile
    description: Path to the Dockerfile to build.
    default: $(resources.inputs.repo.path)/go-travel/deploy/docker/v1/Dockerfile_admin_rpc
  - name: order-api-dockerfile
    description: Path to the Dockerfile to build.
    default: $(resources.inputs.repo.path)/go-travel/deploy/docker/v1/Dockerfile_order_api
  - name: order-rpc-dockerfile
    description: Path to the Dockerfile to build.
    default: $(resources.inputs.repo.path)/go-travel/deploy/docker/v1/Dockerfile_order_rpc
  - name: travel-api-dockerfile
    description: Path to the Dockerfile to build.
    default: $(resources.inputs.repo.path)/go-travel/deploy/docker/v1/Dockerfile_travel_api
  - name: travel-rpc-dockerfile
    description: Path to the Dockerfile to build.
    default: $(resources.inputs.repo.path)/go-travel/deploy/docker/v1/Dockerfile_travel_rpc
  - name: payment-api-dockerfile
    description: Path to the Dockerfile to build.
    default: $(resources.inputs.repo.path)/go-travel/deploy/docker/v1/Dockerfile_payment_api
  - name: payment-rpc-dockerfile
    description: Path to the Dockerfile to build.
    default: $(resources.inputs.repo.path)/go-travel/deploy/docker/v1/Dockerfile_payment_rpc
  - name: usercenter-api-dockerfile
    description: Path to the Dockerfile to build.
    default: $(resources.inputs.repo.path)/go-travel/deploy/docker/v1/Dockerfile_usercenter_api
  - name: usercenter-rpc-dockerfile
    description: Path to the Dockerfile to build.
    default: $(resources.inputs.repo.path)/go-travel/deploy/docker/v1/Dockerfile_usercenter_rpc
  - name: mqjob-rpc-dockerfile
    description: Path to the Dockerfile to build.
    default: $(resources.inputs.repo.path)/go-travel/deploy/docker/v1/Dockerfile_mqjob_rpc
  - name: mqscheduler-rpc-dockerfile
    description: Path to the Dockerfile to build.
    default: $(resources.inputs.repo.path)/go-travel/deploy/docker/v1/Dockerfile_mqscheduler_rpc
  - name: context
    description: Path to the directory to use as context.
    default: $(resources.inputs.repo.path)/go-travel #.
  - name: build_extra_args
    description: Extra parameters passed for the build command when building images.
    default: ""
  - name: push_extra_args
    description: Extra parameters passed for the push command when pushing images.
    default: ""
  - name: insecure_registry
    description: Allows the user to push to an insecure registry that has been specified
    default: ""
  - name: registry_mirror
    description: Specific the docker registry mirror
    default: ""
  - name: registry_url
    description: private docker images registry url
  steps:
  - name: docker-build  # 构建步骤
    image: $(params.builder_image)
    env:
    - name: DOCKER_HOST  # 用 TLS 形式通过 TCP 链接 sidecar
      value: tcp://localhost:2376
    - name: DOCKER_TLS_VERIFY  # 校验 TLS
      value: '1'
    - name: DOCKER_CERT_PATH  # 使用 sidecar 守护进程生成的证书
      value: /certs/client
    workingDir: /workspace/repo/go-travel/deploy/docker/v1
    script: |  # docker 构建命令
      docker login $(params.registry_url)
      docker build \
        $(params.build_extra_args) \
        --no-cache \
        -f $(params.admin-api-dockerfile) -t $(params.admin-api-image) $(params.context)
      docker build \
        $(params.build_extra_args) \
        --no-cache \
        -f $(params.admin-rpc-dockerfile) -t $(params.admin-rpc-image) $(params.context)
      docker build \
        $(params.build_extra_args) \
        --no-cache \
        -f $(params.usercenter-api-dockerfile) -t $(params.usercenter-api-image) $(params.context)
      docker build \
        $(params.build_extra_args) \
        --no-cache \
        -f $(params.usercenter-rpc-dockerfile) -t $(params.usercenter-rpc-image) $(params.context)
      docker build \
        $(params.build_extra_args) \
        --no-cache \
        -f $(params.travel-api-dockerfile) -t $(params.travel-api-image) $(params.context)
      docker build \
        $(params.build_extra_args) \
        --no-cache \
        -f $(params.travel-rpc-dockerfile) -t $(params.travel-rpc-image) $(params.context)
      docker build \
        $(params.build_extra_args) \
        --no-cache \
        -f $(params.order-api-dockerfile) -t $(params.order-api-image) $(params.context)
      docker build \
        $(params.build_extra_args) \
        --no-cache \
        -f $(params.order-rpc-dockerfile) -t $(params.order-rpc-image) $(params.context)
      docker build \
        $(params.build_extra_args) \
        --no-cache \
        -f $(params.mqjob-rpc-dockerfile) -t $(params.mqjob-rpc-image) $(params.context)
      docker build \
        $(params.build_extra_args) \
        --no-cache \
        -f $(params.mqscheduler-rpc-dockerfile) -t $(params.mqscheduler-rpc-image) $(params.context)
    volumeMounts:  #声明挂载证书目录
      - mountPath: /certs/client
        name: dind-certs
  - name: docker-push  #
    image: $(params.builder_image)
    env:
    - name: DOCKER_HOST
      value: tcp://localhost:2376
    - name: DOCKER_TLS_VERIFY
      value: '1'
    - name: DOCKER_CERT_PATH
      value: /certs/client
    workingDir:  /workspace/repo/go-travel/deploy/docker/v1  #$(resources.inputs.source.path)
    script: |  # 推送 docker
      docker push $(params.push_extra_args) $(params.admin-api-image)
      docker push $(params.push_extra_args) $(params.admin-rpc-image)
      docker push $(params.push_extra_args) $(params.order-api-image)
      docker push $(params.push_extra_args) $(params.order-rpc-image)
      docker push $(params.push_extra_args) $(params.travel-api-image)
      docker push $(params.push_extra_args) $(params.travel-rpc-image)
      docker push $(params.push_extra_args) $(params.usercenter-api-image)
      docker push $(params.push_extra_args) $(params.usercenter-rpc-image)
      docker push $(params.push_extra_args) $(params.payment-api-image)
      docker push $(params.push_extra_args) $(params.payment-rpc-image)
      docker push $(params.push_extra_args) $(params.mqjob-rpc-image)
      docker push $(params.push_extra_args) $(params.mqscheduler-rpc-image)
    volumeMounts:
      - mountPath: /certs/client
        name: dind-certs
  sidecars:  # sidecar 模式，提供 docker daemon服务，实现真正的 DinD 模式
  - image: docker:dind
    name: server
    args:
      - --storage-driver=vfs
      - --userland-proxy=false
      - --debug
      - --insecure-registry=$(params.insecure_registry)
      - --registry-mirror=$(params.registry_mirror)
    securityContext:
      privileged: true
    env:
    - name: DOCKER_TLS_CERTDIR  # 将生成的证书写入与客户端共享的路径
      value: /certs
    volumeMounts:
    - mountPath: /certs/client
      name: dind-certs
    readinessProbe:  # 等待 dind daemon 生成它与客户端共享的证书
      periodSeconds: 1
      exec:
        command: ['ls', '/certs/client/ca.pem']
  volumes:  # 使用 emptyDir 的形式即可
  - name: dind-certs
    emptyDir: {}
